<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}">-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" >
    <div class="row  bg-success" style="height: 75px;" >
        <div class="col-sm-10 justify-content-center d-flex">
            <h3>Find Popular Food By Country</h3>
        </div>
        <div class="col-sm-1">
            <a href="#">Login</a>
        </div>
        <div class="col-sm-1">
            <a href="#">Sign Up</a>
        </div>
    </div>
</div>

<div class="container pt-sm-4">
    <div class="row">
        <div class="col-sm-6 bg-light">
            <img th:src="@{/img/nyama-choma-sukuma-wiki-ugali-and-kachumbari.jpg}" alt="Image not found" style=" max-width: 600px;height: 400px;">
        </div>
        <div class="col-sm-6 bg-info">
            <div class="d-flex flex-column">
                <div class="p-2">
                    <h4>Nyama choma, sukuma wiki and ugali</h4>
                    <p>~According to Ethan, Ugali is a vegetable.... (He thinks) but not sure</p>
                    <h6></h6>
                    <p></p>
                    <h5>Ingredients</h5>

                    <h5>Instructions</h5>
                    <ol>
                        <li>C</li>
                        <li></li>
                    </ol>

                    <h6>To serve</h6>
                    <ol>
                    </ol>
                </div>

                <div class="p-2">
                    <h4>Comments</h4>
                    <p>By abc, 6/17/20</p>
                    <p>Looks good</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-sm-4">
    <div class="row">
        <div class="col-sm-6 bg-light">
            <img th:src="@{/img/Cambuulo-iyo-Maraq.jpg}" alt="Image not found" style=" max-width: 600px;height: 400px;">
        </div>
        <div class="col-sm-6 bg-info">
            <div class="d-flex flex-column">
                <div class="p-2">
                    <h4>Cambuulo iyo Maraq</h4>
                    <h6>~Rice with Adzuki Beans in a Spicy Tomato Sauce</h6>
                    <p>This is a famous Somali dish usually served with sesame oil and a drizzle of sugar. It can be a mix of rice and adzuki beans or any kind of beans or lentils, corn and beans or sometimes just adzuki beans. Cambuulo is usually eaten for supper.</p>
                    <h5>Ingredients</h5>
                    <ul>
                        <li>
                            1 cup long grain Basmati rice
                        </li>
                        <li>1 cup cooked adzuki beans or any kind of lentil (soak overnight and boil for about 20 minutes if using dried beans)
                            400g can of diced tomatoes or 6 fresh tomatoes, diced (keep aside a handful for garnish or use toasted nuts and fresh coriander)
                        </li>
                        <li>2 tablespoons tomato paste</li>
                        <li>1 teaspoon ground coriander seeds</li>
                        <li>    1 teaspoon ground cumin seeds</li>
                        <li>1 teaspoon ground chilli powder or chilli flakes. You can two green chillies (diced) as a substitute.
                        </li>
                        <li>2 cloves of garlic, minced finely</li>
                        <li>1 large onion, diced</li>
                        <li>2 tablespoons sesame oil</li>
                        <li>1 tablespoon white vinegar</li>
                        <li> Juice of one lemon</li>
                        <li>Salt to taste</li>
                        <li>1 cup water</li>
                    </ul>
                    <h5>Instructions</h5>
                    <ol>
                        <li>Cover the rice with one and a half cups of water and a pinch of salt. Cover the pan and cook over low heat until the rice is done. This should take about 15 minutes.</li>
                        <li>Mix in the cooked adzuki beans and keep aside.</li>
                    </ol>
                    <h6>Making the tomato sauce</h6>
                    <ol>
                        <li> Saute the onions in the sesame oil until translucent.</li>
                        <li>Add in the garlic and cook for about a minute</li>
                        <li>Add in the diced tomato, tomato paste, cumin, coriander and chilli and cook for about five minutes. Add water to ensure the sauce doesn’t dry out. You want a thick, soupy consistency.</li>
                        <li>Add the white vinegar and lemon juice. Simmer over low heat for about five minutes.</li>
                    </ol>
                    <h6>To serve</h6>
                    <ol>
                        <li>Serve the <i>cambuulo</i> mixture in a bowl.</li>
                        <li>Generously spoon the tomato sauce over the <i>cambuulo</i></li>
                        <li>Garnish with diced tomato. Sometimes we use fried onions as a garnish.</li>
                    </ol>
                </div>

                <div class="p-2">
                    <h4>Comments</h4>
                    <p>By xyz, 6/17/20</p>
                    <p>Looks good</p>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>