<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}">-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" >
    <div class="row  bg-success" style="height: 75px;" >
        <div class="col-sm-10 justify-content-center d-flex">
            <h3>Find Popular Food By Country</h3>
        </div>
        <div class="col-sm-1">
            <a href="#">Login</a>
        </div>
        <div class="col-sm-1">
            <a href="#">Sign Up</a>
        </div>
    </div>
</div>


<th:block th:each = "dish : ${dishes}">
    <div class="container pt-sm-4">
        <div class="row">
            <div class="col-sm-6 bg-light">
                <img th:src="@{'/img/' + ${dish.imgURL}}" alt="Image not found" style=" max-width: 600px;height: 400px;">
            </div>
            <div class="col-sm-6 bg-info"   style="height: 400px;">
                <div class="d-flex flex-column overflow-auto h-100">
                    <div class="p-2" >
                        <h4 th:text="${dish.name}"></h4>
                        <h6 th:text="${dish.briefDescription}"></h6>
                        <p th:text="${dish.description}"></p>
                        <h5>Ingredients</h5>
                        <ul>
                            <th:block th:each="ingredient : ${dish.ingredients}">
                                <li th:text="${ingredient}"></li>
                            </th:block>

                        </ul>

                        <h5>Instructions</h5>
                        <ol>
                            <li th:each="instruction : ${dish.instructions}" th:text="${instruction}"></li>
                        </ol>

                        <h6>To serve</h6>
                        <ol>
                            <li th:each="serve : ${dish.serve}" th:text="${serve}"></li>
                        </ol>
                    </div>

                    <div class="p-2">
                        <h4>Comments</h4>
                        <p th:each="comment : ${dish.comments}" th:text="${comment}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>